body{
    background-color: rgb(228, 209, 213);
}
header{
    text-align: center;
    color: orangered;
    font-size: 500%;
    /*padding: 20px*/
    background-color  :cornsilk
    }
h1{color:crimson} 
h3{font-size: 200%;}
a:link ,a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  table,th,td{
    border: 1px solid;
    }
    table{
        border-collapse: collapse;;
    }   